<div class="form">
    <div class="content">
        <div class="text-area">
            <div class="text-employee-payroll-form">Employee Payroll Form</div>

            <!-- EMPLOYEE FULL NAME DIV -->
            <div class="content-area name">
                <div><label class="text text-name" for="name">Name</label></div>
                <div><input class="input input-name" type="text" required [(ngModel)]="employeeForm.name"></div>
            </div>

            <!-- EMPLOYEE PROFILE PICTURE DIV -->
            <div class="content-area pictures">
                <div><label class="text text-picture" for="picture">Profile picture</label></div>
                <div class="profile-picture-radio">
                    <label class="radio-picture">
                        <input class="radio pic1" type="radio" name="picture" id="picture1" value="../../assets/Profile-Pictures/Ellipse -1.png" required [(ngModel)]="employeeForm.profilePicture">
                        <img class="picture" src="../../assets/Profile-Pictures/Ellipse -1.png" alt="">
                    </label>
                    <label class="radio-picture">
                        <input class="radio pic2" type="radio" name="picture" id="picture2" value="../../assets/Profile-Pictures/Ellipse -2.png" required [(ngModel)]="employeeForm.profilePicture">
                        <img class="picture" src="../../assets/Profile-Pictures/Ellipse -2.png" alt="">
                    </label>
                    <label class="radio-picture">
                        <input class="radio pic3" type="radio" name="picture" id="picture3" value="../../assets/Profile-Pictures/Ellipse -3.png" required [(ngModel)]="employeeForm.profilePicture">
                        <img class="picture" src="../../assets/Profile-Pictures/Ellipse -3.png" alt="">
                    </label>
                    <label class="radio-picture">
                        <input class="radio pic4" type="radio" name="picture" id="picture4" value="../../assets/Profile-Pictures/Ellipse -4.png" required [(ngModel)]="employeeForm.profilePicture">
                        <img class="picture" src="../../assets/Profile-Pictures/Ellipse -4.png" alt="">
                    </label>
                </div>
            </div>

            <!-- EMPLOYEE GENDER DIV -->
            <div class="content-area gender">
                <div><label class="text text-gender" for="picture">Gender</label></div>
                <div class="gender-radio">
                    <label class="radio-gender">
                        <input class="radio radio-male" type="radio" name="gender" id="male" value="Male" required [(ngModel)]="employeeForm.gender">
                        <span class="text text-male">Male</span>
                    </label>
                    <label class="radio-gender">
                        <input class="radio radio-female" type="radio" name="gender" id="female" value="Female" required [(ngModel)]="employeeForm.gender">
                        <span class="text text-female">Female</span>
                    </label>
                </div>
            </div>

            <!-- EMPLOYEE DEPARTMENT DIV -->
            <div class="content-area department-div">
                <div class="text text-department"><label for="department">Department</label></div>
                <div class="department-checkbox">
                    <div class="checkboxes" *ngFor="let departName of departments,let i = index ">
                        <input class="checkbox" type="checkbox" name="department" [value]="this.employeeForm.department[i]" (change)="checkBoxChange(departName)" 
                        (ngModel)="departName" [ngModelOptions]="{standalone: true}" ngDefaultControl> {{departName}}>
                    </div>
                </div>
            </div>

            <!-- EMPLOYEE SALARY DIV -->
            <div class="content-area salary-div">
                <div class="text text-salary"><label for="salary">Salary</label></div>
                <div class="salary-slider">
                    <input class="slider" type="range" name="salary" id="salary" min="200000" max="2000000" step="50000" [(ngModel)]="employeeForm.salary">
                    <output class="output" for="salary">{{this.employeeForm.salary}}</output>
                </div>
            </div>

            <!-- EMPLOYEE START DATE DIV -->
            <div class="content-area date-div">
                <div class="text text-date"><label for="startDate">Start Date</label></div>
                <div class="dropdowns">
                    <input class="dropdown dropdown-day" type="date" name="startDate" [(ngModel)]="employeeForm.startDate">
                </div>
            </div>

            <!-- EMPLOYEE NOTES DIV -->
            <div class="content-area notes-div">
                <div class="text text-notes"><label for="notes">Notes</label></div>
                <textarea class="text-area-notes" type="text" name="notes" id="notes" cols="65" rows="5" [(ngModel)]="employeeForm.note"></textarea>
            </div>

            <!-- EMPLOYEE CANCEL - SUBMIT - RESET DIV -->
            <div class="content-area button-div">
                <a routerLink=""><button  class="button button-cancel">Cancel</button></a>
                <div class="submit-reset">
                    <button class="button button-submit" type="submit" (click)="onSubmit()">Submit</button>
                    <button class="button button-reset" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
