<div class="form">
    <div class="content">
        <div class="text-area">
            <div class="text-employee-payroll-form">Employee Payroll Form</div>
            <div class="content-area name">
                <label class="text name" for="name">Name</label>
                <input class="input name" type="text">
            </div>
            <div class="content-area picture">
                <label class="text picture" for="picture">Profile picture</label>
                <div>
                    <label>
                        <input type="radio" name="picture" id="picture1" required>
                        <img class="profile-picture" src="/src/assets/Profile-Pictures/Ellipse -1.png" alt="">
                    </label>
                    <label>
                        <input type="radio" name="picture" id="picture2" required>
                        <img class="profile-picture" src="/src/assets/Profile-Pictures/Ellipse -2.png" alt="">
                    </label>
                    <label>
                        <input type="radio" name="picture" id="picture3" required>
                        <img class="profile-picture" src="/src/assets/Profile-Pictures/Ellipse -3.png" alt="">
                    </label>
                    <label>
                        <input type="radio" name="picture" id="picture4" required>
                        <img class="profile-picture" src="/src/assets/Profile-Pictures/Ellipse -4.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
