.form {
    background-color: #f7f7f7;
    padding-top: 35px;
    padding-bottom: 20px;
    height: 700px;
}
.content {
    margin-left: 300px;
    margin-right: 300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;
}
.text-area {
    padding-top: 32px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
}
.text-employee-payroll-form {
    text-align: left;
    font: normal normal bold 28px/37px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}
.content-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-top: 15px;
    width: 640px;
}

/* NAME DIV*/
.name {
    padding-top: 30px;
}
.text {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}
.text-name {
    padding-right: 100px;
}
.input {
    height: 35px;
    width: 480px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

/* PROFILE PICTURE DIV*/
.text-picture {
    padding-right: 30px;
}
.profile-picture-radio {
    padding-right: 10px;
}
.radio-picture {
    padding-right: 20px;
}
.radio {
    height: 40px;
    width: 20px;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #B4B4B4;
    opacity: 1;
}
.picture {
    padding-left: 10px;
}

/* GENDER DIV*/
.gender {
    height: 30px;
}
.text-gender {
    padding-right: 84px;
}
.gender-radio {
    height: 20px;
    padding-bottom: 10px;
}
.radio-gender {
    padding-right: 30px;
}
.radio-male {
    height: 20px;
}
.text-male {
    padding-left: 5px;
}
.radio-female {
    height: 20px;
}
.text-female {
    padding-left: 5px;
}

/* DEPARTMENT DIV*/
.text-department {
    padding-right: 48px;
}
.department-checkbox {
    display: flex;
    height: 20px;
}
.checkboxes {
    padding-right: 10px;
}
.checkbox {
    padding-right: 15px;
}

/* SALARY DIV*/
.salary-div {
    padding-top: 0px;
}
.text-salary {
    padding-right: 95px;
}
.slider {
    width: 380px;
}
.output {
    padding-left: 50px;
}

/* START DATE DIV*/
.date-div {
    padding-top: 0px;
}
.text-date {
    padding-right: 68px;
}
.dropdown {
    width: 120px;
    height: 40px;
    padding-left: 10px;
    margin-right: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

/* NOTES DIV*/
.notes-div {
    height: 100px;
    width: 650px;
}
.text-notes {
    padding-right: 100px;
    height: 90px;
}
.text-area-notes {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

/* BUTTON DIV*/
.button-div {
    width: 650px;
    justify-content: space-between;
}
.button {
    height: 40px;
    width: 120px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}
.button-cancel {
    width: 120px;
}
.button-reset {
    margin-left: 20px;
}