.home {
    background-color: #f7f7f7;
    padding-top: 35px;
    padding-bottom: 40px;
    height: 540px;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 35px;
}
.text-employee-details {
    text-align: left;
    font: normal normal bold 28px/25px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}
.add-employee {
    width: 185px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.text-add-user {
    text-align: left;
    padding-left: 5px;
    font: normal normal normal 22px/29px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.table {
    margin-left: 150px;
}
.table-head {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 1220px;
    margin: 0 auto;
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    opacity: 1;
}
.text {
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.name {
    padding-left: 100px;
}
.gender {
    padding-left: 300px;
}
.department {
    padding-left: 100px;
}
.salary {
    padding-left: 150px;
}
.date {
    padding-left: 80px;
}
.actions {
    padding-left: 50px;
}
.table-data {
    width: 1220px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    opacity: 1;
}
.picture {
    width: 70px;
    padding-left: 30px;
}
.text-data {
    height: 40px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}
.employee-name {
    padding-right: 230px;
}
.employee-gender {
    padding-right: 110px;
}
.employee-department {
    padding-right: 140px;
    width: 100px;
    display: flex;
}
.deptment-label {
    background: #E9FEA5 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-right: 12px;
    height: 22px;
}
.employee-salary {
    padding-right: 40px;
}
.employee-date {
    padding-right: 40px;
}
.icons {
    width: 110px;
}
.icon-delete {
    padding-left: 20px;
}
.icon-edit {
    padding-left: 30px;
}