<div class="home">
    <div class="head">
        <div class="text-employee-details">Employee Details</div>
        <a routerLink="employee-payroll-form"><button class="add-employee"><span class="text text-add-user">+ Add User</span></button></a>
    </div>
    <div class="table">
        <div class="table-text">
            <span class="text name">NAME</span>
            <span class="text gender">GENDER</span>
            <span class="text department">DEPARTMENT</span>
            <span class="text salary">SALARY</span>
            <span class="text date">START DATE</span>
            <span class="text actions">ACTIONS</span>
        </div>
    </div>
</div>