<div class="home">
    <div class="head">
        <div class="text-employee-details">Employee Details</div>
        <a routerLink="employee-payroll-form" class="add-employee">
            <img src="/src/assets/add-24px.svg" alt=""><span class="add-employee title">+ Add User</span></a>
    </div>
    <div class="table">
        <div class="table-text">
            <div class="text name">NAME</div>
            <div class="text gender">GENDER</div>
            <div class="text Department">DEPARTMENT</div>
            <div class="text salary">SALARY</div>
            <div class="text date">START DATE</div>
            <div class="text actions">ACTIONS</div>
        </div>
    </div>
</div>